# Security: deactivate lifecycle scripts
# necessary scripts (esbuild) must be explicitely  run throug npm rebuild
# in dedicated env (env -i) to protect secrets.
ignore-scripts=true

# Empêche les paquets de modifier le lockfile
package-lock=true

# Utilise uniquement le registre officiel
registry=https://registry.npmjs.org/
